.Python
*.pyc
*~
/bin
/lib
/build
/include
/src
/cloud/log
/cloud/public/media/*
db.sqlite
/man
.env
.idea*
.venv
.DS_Store
/node_modules
/logs
*.db
*.swp
*.ipynb
*.swo
.noseids
.coverage
cloud/ProcfileDev
cloud/local_config.py
.env
.foreman
